/* Basic Style */
body {
  color: #fff;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('menorca.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.container {
  display: block;
  width: 950px;
  margin: 100px auto 0;
  position: fixed;
  z-index: 9999;
  background-color: #0064b97a;
  padding: 3%;
}

ul.input {
  margin:0;
  padding: 0;
}

ul.input > li {
  display: inline-block;
}

ul.input li:nth-child(2) {
  margin-left: 30px;
}

ul.input > li > button {
  margin: auto;
}

input, button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #fff;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}
/* Heading */
h3,
label[for='new-task'] {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
}
input[type="text"]:focus {
  color: #000;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  float: left;
  width: 318px;
}
p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li >  input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #fff;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}